In [3]:
import pandas as pd
import math

In [4]:
df = pd.read_csv('data.csv')
df = df.set_index('Date')

In [72]:
def front(self, n):
    return self.iloc[:, :n]

def back(self, n):
    return self.iloc[:, -n:]

pd.DataFrame.front = front
pd.DataFrame.back = back

In [14]:
df.front(5)

                       A        AAL         AAP       AAPL       ABBV
Date
7/1/14 0:00    38.734020  41.348640  125.715698  20.850807  39.583065
7/2/14 0:00    38.601036  39.548008  125.454048  20.841888  40.431904
7/3/14 0:00    38.873661  39.236904  126.098808  20.964514  40.508446
7/7/14 0:00    38.647579  37.803925  125.220428  21.397049  39.937912
7/8/14 0:00    38.002579  37.954765  123.603783  21.258814  38.748108
...                  ...        ...         ...        ...        ...
12/23/19 0:00  83.392967  29.192120  150.870972  69.557098  77.802200
12/24/19 0:00  83.432098  29.072563  151.436844  69.623222  77.457375
12/26/19 0:00  83.578812  29.560759  150.210800  71.004578  77.440140
12/27/19 0:00  83.549469  28.335287  149.343109  70.977638  76.897011
12/30/19 0:00  83.216217  28.195801  150.069305  71.398888  76.310806

[1385 rows x 5 columns]

In [8]:
from datetime import datetime
from dateutil.relativedelta import relativedelta as rd

In [9]:
datetime.strptime(df.index[0], '%m/%d/%y %H:%M').date()# + rd(years=1)
# df.index[0]

datetime.date(2014, 7, 1)

In [68]:
df["date2"] = datetime.strptime(df.index, '%m/%d/%y %H:%M').date()

TypeError: strptime() argument 1 must be str, not Index

In [3]:
df.loc['12/27/19 0:00':]

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS,CPRI,M
Date,,,,,,,,,,,,,,,,,,,,,
12/27/19 0:00,83.549469,28.335287,149.343109,70.977638,76.897011,81.148720,169.270004,82.959702,202.710861,330.790008,...,55.108406,31.968006,76.085526,96.473686,142.370407,256.000000,47.092766,130.498566,37.529999,15.170101
12/30/19 0:00,83.216217,28.195801,150.069305,71.398888,76.310806,79.934967,167.289993,82.390205,201.201691,328.339996,...,54.681812,31.829988,75.989006,95.280769,141.174591,254.110001,47.339661,129.480057,37.549999,15.409002

In [ ]:
# def sag(start):
    
#     df_train = df.loc[start_train : end_train]
#     df_test = df.loc[start_test : end_test]

In [5]:
def data_process(df):
    df = df.pct_change()
    df = df.tail(-1)
    df = df + 1
    df = df.cumprod()
    df = df - 1
    df = df.iloc[-1,:]
    return df

In [10]:
data_process(df)

A       1.148401
AAL    -0.318096
AAP     0.193720
AAPL    2.424275
ABBV    0.927865
          ...
ZBRA    1.987421
ZION    0.896761
ZTS     3.229247
CPRI   -0.582407
M      -0.628965
Name: 2019-12-30, Length: 471, dtype: float64

In [16]:
date = datetime(2014,9,1)
date = date + rd(months = 42)
# date = datetime.strptime('7/1/14 0:00', '%m/%d/%y %H:%M').date()
date

datetime.datetime(2018, 3, 1, 0, 0)

In [ ]:
df1 = df.loc['7/1/14 0:00' : '12/29/17 0:00'].copy()
df1

In [20]:
# Sliding window: 1 month
#dfx_y means dataframe number x with y sliding window
# df1_1 = df.loc['7/1/14 0:00' : '12/29/17 0:00'].copy() 
df1_1_train = df.loc['7/1/14 0:00' : '12/29/17 0:00'].copy() #Done
df1_1_test = df.loc['1/2/18 0:00' : '1/31/18 0:00'].copy()   #Done
 
# df2_1 = df.loc['8/1/14 0:00' : '1/31/18 0:00'].copy()  
df2_1_train = df.loc['8/1/14 0:00' : '1/31/18 0:00'].copy() #Done
df2_1_test = df.loc['2/1/18 0:00' : '2/28/18 0:00'].copy()  #Done

# df3_1 = df.loc['9/2/14 0:00' : '2/28/18 0:00'].copy()  
df3_1_train = df.loc['9/2/14 0:00' : '2/28/18 0:00'].copy() #Done
df3_1_test = df.loc['3/1/18 0:00' : '3/29/18 0:00'].copy()  #Done

# df4_1 = df.loc['10/1/14 0:00' : '3/29/18 0:00'].copy() 
df4_1_train = df.loc['10/1/14 0:00' : '3/29/18 0:00'].copy() #Done
df4_1_test = df.loc['4/2/18 0:00' : '4/30/18 0:00'].copy()   #Done

# df5_1 = df.loc['11/3/14 0:00' : '4/30/18 0:00'].copy() 
df5_1_train = df.loc['11/3/14 0:00' : '4/30/18 0:00'].copy() #Done
df5_1_test = df.loc['5/1/18 0:00' : '5/31/18 0:00'].copy()   #Done

# df6_1 = df.loc['12/1/14 0:00' : '5/30/18 0:00'].copy() 
df6_1_train = df.loc['12/1/14 0:00' : '5/30/18 0:00'].copy() #Done
df6_1_test = df.loc['6/1/18 0:00' : '6/29/18 0:00'].copy()   #Done

# df7_1 = df.loc['1/2/15 0:00' : '6/29/18 0:00'].copy()  
df7_1_train = df.loc['1/2/15 0:00' : '6/29/18 0:00'].copy()  #Done
df7_1_test = df.loc['7/2/18 0:00' : '7/31/18 0:00'].copy()   #Done

# df8_1 = df.loc['2/2/15 0:00' : '7/31/18 0:00'].copy()  
df8_1_train = df.loc['2/2/15 0:00' : '7/31/18 0:00'].copy()  #Done
df8_1_test = df.loc['8/1/18 0:00' : '8/31/18 0:00'].copy()   #Done

# df9_1 = df.loc['3/2/15 0:00' : '8/31/18 0:00'].copy()  
df9_1_train = df.loc['3/2/15 0:00' : '8/31/18 0:00'].copy()  #Done
df9_1_test = df.loc['9/4/18 0:00' : '9/28/18 0:00'].copy()   #Done

# df10_1 = df.loc['4/1/15 0:00' : '9/28/18 0:00'].copy() 
df10_1_train = df.loc['4/1/15 0:00' : '9/28/18 0:00'].copy()  #Done
df10_1_test = df.loc['10/1/18 0:00' : '10/31/18 0:00'].copy() #Done

# df11_1 = df.loc['5/1/15 0:00' : '10/31/18 0:00'].copy()
df11_1_train = df.loc['5/1/15 0:00' : '10/31/18 0:00'].copy() #Done
df11_1_test = df.loc['11/1/18 0:00' : '11/30/18 0:00'].copy() #Done

# df12_1 = df.loc['6/1/15 0:00' : '11/30/18 0:00'].copy()
df12_1_train = df.loc['6/1/15 0:00' : '11/30/18 0:00'].copy() #Done
df12_1_test = df.loc['12/3/18 0:00' : '12/31/18 0:00'].copy() #Done

# df13_1 = df.loc['7/1/15 0:00' : '12/31/18 0:00'].copy()
df13_1_train = df.loc['7/1/15 0:00' : '12/31/18 0:00'].copy() #Done
df13_1_test = df.loc['1/2/19 0:00' : '1/31/19 0:00'].copy()   #Done

# df14_1 = df.loc['8/3/15 0:00' : '1/31/19 0:00'].copy() 
df14_1_train = df.loc['8/3/15 0:00' : '1/31/19 0:00'].copy()  #Done
df14_1_test = df.loc['2/1/19 0:00' : '2/28/19 0:00'].copy()   #Done

# df15_1 = df.loc['9/1/15 0:00' : '2/28/19 0:00'].copy() 
df15_1_train = df.loc['9/1/15 0:00' : '2/28/19 0:00'].copy() #Done
df15_1_test = df.loc['3/1/19 0:00' : '3/29/19 0:00'].copy()  #Done

# df16_1 = df.loc['10/1/15 0:00' : '3/29/19 0:00'].copy()
df16_1_train = df.loc['10/1/15 0:00' : '3/29/19 0:00'].copy() #Done
df16_1_test = df.loc['4/1/19 0:00' : '4/30/19 0:00'].copy()   #Done

# df17_1 = df.loc['11/2/15 0:00' : '4/30/19 0:00'].copy()
df17_1_train = df.loc['11/2/15 0:00' : '4/30/19 0:00'].copy() #Done
df17_1_test = df.loc['5/1/19 0:00' : '5/31/19 0:00'].copy()   #Done

# df18_1 = df.loc['12/1/15 0:00' : '5/31/19 0:00'].copy()
df18_1_train = df.loc['12/1/15 0:00' : '5/31/19 0:00'].copy() #Done
df18_1_test = df.loc['6/3/19 0:00' : '6/28/19 0:00'].copy()   #Done

# df19_1 = df.loc['1/4/16 0:00' : '6/28/19 0:00'].copy() 
df19_1_train = df.loc['1/4/16 0:00' : '6/28/19 0:00'].copy() #Done
df19_1_test = df.loc['7/1/19 0:00' : '7/31/19 0:00'].copy()  #Done

# df20_1 = df.loc['2/1/16 0:00' : '7/31/19 0:00'].copy() 
df20_1_train = df.loc['2/1/16 0:00' : '7/31/19 0:00'].copy() #Done
df20_1_test = df.loc['8/1/19 0:00' : '8/30/19 0:00'].copy()  #Done

# df21_1 = df.loc['3/1/16 0:00' : '8/30/19 0:00'].copy() 
df21_1_train = df.loc['3/1/16 0:00' : '8/30/19 0:00'].copy() #Done
df21_1_test = df.loc['9/3/19 0:00' : '9/30/19 0:00'].copy()  #Done

# df22_1 = df.loc['4/1/16 0:00' : '9/30/19 0:00'].copy() 
df22_1_train = df.loc['4/1/16 0:00' : '9/30/19 0:00'].copy()  #Done
df22_1_test = df.loc['10/1/19 0:00' : '10/31/19 0:00'].copy() #Done

# df23_1 = df.loc['5/2/16 0:00' : '10/31/19 0:00'].copy()
df23_1_train = df.loc['5/2/16 0:00' : '10/31/19 0:00'].copy() #Done
df23_1_test = df.loc['11/1/19 0:00' : '11/29/19 0:00'].copy() #Done

# df24_1 = df.loc['6/1/16 0:00' : '11/29/19 0:00'].copy()
df24_1_train = df.loc['6/1/16 0:00' : '11/29/19 0:00'].copy() #Done
df24_1_test = df.loc['12/2/19 0:00' : '12/30/19 0:00'].copy() #Done
print('test')

In [21]:
# Sliding window: 3 months
df1_3_train = df.loc['7/1/14 0:00' : '12/29/17 0:00'].copy() #Done
df1_3_test = df.loc['1/2/18 0:00' : '3/29/18 0:00'].copy() #Done

df2_3_train = df.loc['10/1/14 0:00' : '3/29/18 0:00'].copy() #Done
df2_3_test = df.loc['4/2/18 0:00' : '6/29/18 0:00'].copy() #Done

df3_3_train = df.loc['1/2/15 0:00' : '6/29/18 0:00'].copy() #Done
df3_3_test = df.loc['7/2/18 0:00' : '9/28/18 0:00'].copy() #Done

df4_3_train = df.loc['4/1/15 0:00' : '9/28/18 0:00'].copy() #Done
df4_3_test = df.loc['10/1/18 0:00': '12/31/18 0:00'].copy() #Done

df5_3_train = df.loc['7/1/15 0:00' : '12/31/18 0:00'].copy() #Done
df5_3_test = df.loc['1/2/19 0:00': '3/29/19 0:00'].copy() #Done

df6_3_train = df.loc['10/1/15 0:00' : '3/29/19 0:00'].copy() #Done
df6_3_test = df.loc['4/1/19 0:00' : '6/28/19 0:00'].copy() #Done

df7_3_train = df.loc['1/4/16 0:00' : '6/28/19 0:00'].copy() #Done
df7_3_test = df.loc['7/1/19 0:00' : '9/30/19 0:00'].copy() #Done

df8_3_train = df.loc['4/1/16 0:00' : '9/30/19 0:00'].copy() #Done
df8_3_test = df.loc['10/1/19 0:00' : '12/30/19 0:00'].copy() #Done

In [ ]:
rebalance_period = 1
for i in range(24):
    start_date =  datetime(2014,7,1) + rd(months = i*rebalance_period)
    end_date = start_date + rd(months = 42)
    end_train = end_date - rd(months = rebalance_period)
    # train_data = df.loc[start_date:end_train]
    # test_data = df.loc[end_train:]
    # print(type(start_date))
    # start_date = datetime.strptime(start_date, '%m/%d/%y %H:%M').date()
    # end_date = datetime.strptime(end_date, '%m/%d/%y %H:%M').date()
    # print(start_date, end_date)
    # print(df.loc[start_date], df.loc[end_date])
    print(df[i])

In [ ]:
# date1 = []
for i in range(len(df)):
    df['date1'].iloc[i] = datetime.strptime(df.index[i], '%m/%d/%y %H:%M').date()
df.set_index(df['date1'])

In [ ]:
# RMSE
def RMSE(duration, index_return, portfolio_return):
    RMSE = 0
    for i in range(duration):
        RMSE += (index_return[i] - portfolio_return[i]) ** 2
    return math.sqrt(RMSE/duration)